<a href="https://colab.research.google.com/github/DeanAdrian/AIDA/blob/main/Revisiting%20Python/58025_Jabolt_Revisiting_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <div align="center">**Revisiting Python**</div> 

| Submitted By:          | Instructor:               |
|------------------------|---------------------------|
| Baluyot, John Michael  | Engr. Dylan Josh D. Lopez |
| Barona, Federico III   |                           | 
| Estocapio, Dean Adrian |                           |
| Garcia, Lance Gabriel  |                           |

# I.	Objectives

This laboratory activity aims to review the programming principles necessary for AI programming and data analytics through:
-	Creating programming visualization tools and documentation techniques;
-	Applying the basic data structures and algorithms in Python; and
-	Applying principles of object-oriented programming in Python

# II. Methods

  This activity practices the previously discussed topics of Python and writing multiple lines of code in separate cells in accordance to the appropriate topic. There are multiple deliverables in this activity, at least one for each of the given topics/parts of Python. The following results in code blocks were achieved through the reunderstanding of previously discussed topic and finding ways to implement them in a different way.

# III. Results

# Revisiting Python
by Jabolt \\

For this activity, The requirement are to create our own examples of the multiple implementation techniques in coding using the Python Language \\

## Variables & Data Types

Assigning Variables \\

* assigning variable to a number is allowed
* assigning multiple variable to multiple number is also applicable
* a variable can also be assigned to a string
* it can also be assigned to multiple variable  two different datatypes

In [ ]:
a = 10
b,c = 20,30.5
d = "40" 
e,f,g = "number 50", 60 , 70.5

Identifying the Data types
* by using the "Type([variable])" statement, this can identify the datatype of an specific variable
* multiple datatypes can be printed using "print" statement
* an str datatype can be converted into an int

In [ ]:
type(a)

In [ ]:
type(d)

In [ ]:
type(g)

In [ ]:
print ("The datatype of variable d is",type(a))
print ("The datatype of variable d is",type(e))
print ("The datatype of variable d is",type(g))
d_int= int(d)
print("\n\nVariable d is now converted into: ",type(d_int))

## Arithmethic

ADDITION: \\
Simple Addition of Two Numbers \\

* the variable "sum" is named to signify operation of adding the two numbers \\
* note: float is used to allow adding of decimal numbers \\
also to specify the variable ("n1,n2") as a number, and not as a string

In [ ]:
n1 = input("enter first number:")       
n2 = input("enter second number:")

sum = float(n1) + float(n2) 
print("Answer:",n1,"+",n2,"=", sum)

enter first number:10
enter second number:5
Answer: 10 + 5 = 15.0

SUBTRACTION: \\
Simple Subtraction of Two Numbers
* the variable "dif" is named to signify operation of subtracting two numbers \\
* note: float is used to allow adding of decimal numbers \\
also to specify the variable ("n1,n2") as a number, and not as a string

In [ ]:
n1 = input("enter subtrahend:")       
n2 = input("enter minuend:")

dif = float(n1) - float(n2) 
print("Answer:",n1,"-",n2,"=", dif)

MULTIPLICATION: \\
Simple Multiplication of Two Numbers
* the variable "prod" is named to signify operation of multiplying two numbers \\
* note: float is used to allow adding of decimal numbers \\
also to specify the variable ("n1,n2") as a number, and not as a string

In [ ]:
n1 = input("enter first number:")       
n2 = input("enter second number:")

prod = float(n1) * float(n2) 
print("Answer:",n1,"x",n2,"=", prod)

DIVISION: \\
Simple Division of Two Numbers
* the variable "div" is named to signify the operation of dividing two numbers \\
* note: float is used to allow adding of decimal numbers \\
also to specify the variable ("n1,n2") as a number, and not as a string

In [ ]:
n1 = input("enter divisor:")       
n2 = input("enter dividend:")

quo= float(n1) / float(n2) 
print("Answer:",n1,"/",n2,"=", quo)

enter divisor:10
enter dividend:5
Answer: 10 / 5 = 2.0

DIVISION: \\
Floor Division of Two numbers
* the variable "fdiv" is named to signify the operation of floor dividing between two numbers \\
* note: float is used to allow adding of decimal numbers \\
also to specify the variable ("n1,n2") as a number, and not as a string

In [ ]:
n1 = input("enter divisor:")       
n2 = input("enter dividend:")

fdiv= float(n1) // float(n2) 
print("Answer:",n1,"/",n2,"=", fdiv)

enter divisor:10
enter dividend:5
Answer: 10 / 5 = 2.0

EXPONENTIATION: \\
Example of Exponentiation
* the variable "exp" is named to signify exponentiation of two given numbers \\
* note: float is used to allow adding of decimal numbers \\
also to specify the variable ("n1,n2") as a number, and not as a string

In [ ]:
n1 = input("enter Base:")       
n2 = input("enter Index:")

exp= float(n1) ** float(n2) 
print("Answer:",n1,"^",n2,"=", exp)

enter Base:10
enter Index:5
Answer: 10 ^ 5 = 100000.0

MODULO: \\
Example of MODULO

* the variable "modu" is named to signify the operation of finding the remainder between two given number \\
* note: float is used to allow adding of decimal numbers \\
also to specify the variable ("n1,n2") as a number, and not as a string

In [ ]:
n1 = input("enter first number:")       
n2 = input("enter second number:")

exp= float(n1) % float(n2) 
print("The Modulo of:",n1,"%",n2,"=", exp)

enter first number:10
enter second number:5
The Modulo of: 10 % 5 = 0.0

### Assignment Operations


* Below is the cell code that will show the uses of assignment operations to change
the value of an already declared variable. As shown below three variables had their
values changed after an operation was assigned before each print statements.

In [ ]:
X1, X2, X3, X4, X5 = -12, 10, 22, 38, 50
X1 -= X2
X4 *= X5
X5 //= X4

print(X1)
print(X3)
print(X4)

-22
22
1900

### Comparators

* Using relational operations (such as "==,<,>"), it enables it to compare two 
values
* note: it is important to consider converting the entered value into an int, so that the code will not be confused into considering it as a string, thus rendering the relational operators correct

In [8]:
a = int(input("value of a: "))
b = int(input("value of b: "))

if(a==b):
  print("a is equal to b")
elif(a<b):
  print("a is less than b")
elif(a>b):
  print("a is greater than b")

value of a: 21
value of b: 21
a is equal to b

### Logical

* Below is a program that will check again if the value of a and b given in the cell above 
is indeed correct by with only two possible outputs, either being True or False.

In [9]:
recheck = a == b
print("The values of a and b being equal is indeed {}".format(recheck))

The values of a and b being equal is indeed True

### I/O

INPUT and OUTPUT (I/O) \\

* using the statement "input" allows the code to accept and assigned (to a variable) the inputted str,float or int.
* using print statement allows it to execute and series of string.
* it also allows printing the previously the inputted or assigned value from the variable

In [6]:
name = input("Please Enter your FullName: ")
age = input("Enter your age ")
gender = input("Gender?:")
age5y = (int(age))

print("\n Your Given Identity is as follows \n Name:",name,"\n Age:",age,"\n Gender:",gender)
print("\n Your Age after 5 years is: " ,age5y+5 )

Please Enter your FullName: john john
Enter your age 21
Gender?:m

 Your Given Identity is as follows
 Name: john john
 Age: 21
 Gender: m

 Your Age after 5 years is:  26

## Looping Statements

### While Loops

* The While Loop Program below is a program created to countdown from 10 until it reaches 0, printing each number as it counts down.

* The while function on line 3, checks if the condition has been met, and if not the loop continues.

* The value of the Start variable also decreases by 1 to ensure that eventually after enough loops the condition will finally be met and the loop should stop.

In [5]:
#Program that counts down from 10 to 0
Start = 10
while (Start >= 0):
  print("{}!".format(Start)) 
  Start = Start -1 
print("Countdown Complete!")

10!
9!
8!
7!
6!
5!
4!
3!
2!
1!
0!
Countdown Complete!

### For Loops

* The program in the cell below contains a list of numbers, and two variables namely: sum and count.

* All three are to be used in the for loop starting at line 5. 

* The for loop will do two things first is to compute for the sum of all numerical items in the list, and then next is to count how many items were in the list in the first place.

In [4]:
List = [1,45, 32, 81, 42, 46, 32, 23, -23]
sum = 0
count = 0

for item in List:
  count=count+1
  sum = sum+item
   

print("The sum of all numbers in the list is:", sum)
print("There are {} items in the list".format(count))

The sum of all numbers in the list is: 279
There are 9 items in the list

## Iterables

* This program in a cell below prints another list with each item containing a name of a poken and its respective level. 

* Right below the list is a print statement that will print the first item in the list, without the level, because the second number only calls the name of the pokemon and not the number.

* There is also a for loop added in printing looping for each item in the list and only calling the name of the Pokemon once again.

In [3]:
Team = [("Charizard", 93), ("Blastoise", 95), ("Venusaur", 90)]
print(Team[0][0],"\n")

for member,level in Team:
  print(member)

Charizard

Charizard
Blastoise
Venusaur

## Conditional Statement

* The code below contains a conditional statement that will check if the two strings entered are the same.

* After checking if the two are similar the code will then print an appropriate output as a response.

In [2]:
password = input("Please create a Password:")
confirm = input("Please Reenter Password: ")
if(password == confirm):
    print("Passwords Match")
elif(password != confirm):
    print("The created passwords are not the same")

Please create a Password:python
Please Reenter Password: python
Passwords Match

## Functions

* Using the statement "def" enables the code to define a specific functions and argument
* The code in the cell below is a function the checks whether the entered number is either even or odd
* Calling the whole function will execute the functions only

In [1]:
number = 0
def even_or_odd(number):
    number = int(input("Enter a number: "))
    if (number % 2) == 0:
       print("{} is an Even number".format(number))
    else:
       print("{} is an Odd number".format(number))

even_or_odd(number)

Enter a number: 21
21 is an Odd number

## LAMBDA

* The function lambda can take any number of arguments and states the type of operation into it [1]
* After assigning the lambda function into the variable "multiply", the code below will multiply the 3 declared arguements in the lambda function, with the set value 5, 6 ,2.

In [ ]:
multiply = lambda x, y, z : x*y*z
print(multiply(5, 6, 2))

60

## Activity: Grade Calculator

* This activity computes shows your semestral grade after inputting your prelim, midterm and final grade.
* This activity also uses conditional statements that will output different results depending on the computed grade.
* The program will also display the student name inputted in the results along with the computed grade.

In [ ]:
print ("GRADE CALCULATOR\n")
name = input("Student Name: ")
courseName = input("Course: ")
prelimGrade = float(input("\nPrelim Grade: "))
midtermGrade = float(input("Midterm Grade: "))
finalGrade = float(input("Final Grade: "))
semGrade = (prelimGrade*.30) + (midtermGrade*.30) + (finalGrade*.40)
#print("Hello {}, your semestral grade is {:.2f}".format(name, semGrade)) 
if (semGrade > 70):
  print("\n\U0001F600 " "Hello {}, your semestral grade is {:.2f} \U0001F600".format(name, semGrade))
if (semGrade == 70):
  print("\n\U0001F923 " "Hello {}, your semestral grade is {:.2f} \U0001F923".format(name, semGrade))
if (semGrade < 70):
  print("\n\U0001F61E " "Hello {}, your semestral grade is {:.2f} \U0001F61E".format(name, semGrade))

GRADE CALCULATOR

Student Name: Lance Gabriel Garcia
Course: Computer Engineering

Prelim Grade: 90
Midterm Grade: 85
Final Grade: 80

😀 Hello Lance Gabriel Garcia, your semestral grade is 84.50 😀

# IV. Conclusion

The activity's main focus is to refresh our knowledge with Python Programming language. This activity helped in reviewing the Python's basic data structures and algorithms. This review covers the different arithmetic operations, comparators and logical statements, basic input output, looping and conditional statements, and functions. The different parts of the activity showed and discussed how to use these codes in Python to meet the required or intended functions of the program. The activity also introduced on how to create documentation techniques using Google Colabs. The activity also helped in familiarizing the different features of Google Colabs.

# Reference 

[1]"Python Lambda", W3schools.com. [Online]. Available: [Link](https://www.w3schools.com/python/python_lambda.asp). [Accessed: 11- Feb- 2021]